<?xml version="1.0" encoding="UTF-8"?>
<configuration>

   <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <charset>UTF-8</charset>
         <Pattern>
            %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
         </Pattern>
      </encoder>
   </appender>

   <appender name="fileAppenderException" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>/mysite-log/mysite-exception.log</file>
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
         <Pattern>
            %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
         </Pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <FileNamePattern>/mysite-log/mysite-exception.%i.log.zip</FileNamePattern>
         <MinIndex>1</MinIndex>
         <MaxIndex>10</MaxIndex>
      </rollingPolicy>
      <triggeringPolicy
         class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <MaxFileSize>100MB</MaxFileSize>
      </triggeringPolicy>
   </appender>
   
   <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>/temp/test.log</file>
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
         <Pattern>
            %d{HH:mm:ss.SSS} - %msg%n
         </Pattern>
      </encoder>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <FileNamePattern>/mysite-log/mysite-exception.%i.log.zip</FileNamePattern>
         <MinIndex>1</MinIndex>
         <MaxIndex>10</MaxIndex>
      </rollingPolicy>
      <triggeringPolicy
         class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <MaxFileSize>100MB</MaxFileSize>
      </triggeringPolicy>
   </appender>

   <logger name="com.douzone.mysite.exception"  level="debug" additivity="false">
            <appender-ref ref="fileAppenderException" />
    </logger>
    
     <logger name="com.douzone.quicksilver.aspect"  level="debug" additivity="false">
            <appender-ref ref="fileAppender" />
    </logger>

   <root level="info"> <!-- 레벨단계떄문에 로그안뜰수도있으니 debug로 -->
      <appender-ref ref="consoleAppender" />
   </root>

</configuration>