
.section {
	display: flex;
	flex-direction: row;
}

html, body {
    margin: 0;

    display: flex;
    flex-direction: column;
    /* display: flex; */
}

.section {
    display: flex;
}

div.navi {
    background-color: #E7ECF2;
    height: 100%;
    width: 300px;
    min-height: 850px;
    /* min-width: 180px; */
    /* display: inline-block; */
    border-right: 7.588px solid #E7E7E7;
    float: left;
    /* display: inline; */
}

.mainSection {
    flex: 1;
}

.topSearchDiv {
    padding: 20px;
    margin: 50px 20px 10px 20px;
    width: 1274px;
    background-color: #eff6fe;
}

.mainDiv {
    margin: 0px 20px 20px 20px;
    height: 600px;
    display: flex;
    background-color: white;
    border-top: solid 1px #f6f6f6;
   /*  z-index: -1;
    position: absolute; */
}

.selectBoxStyle {
    width: 135px;
    margin-left: 5px;
    margin-right: 20px;
}
 
.inputText {
    width: 120px;
    margin-right: 50px;
}

.positionInfoDiv {
    flex: 1.2;
    border-right: 0px;
    width: 682px;
}

.listDiv > table {
	margin: 8px 19px 8px 0px;
    border-collapse: collapse;
    height: 200px;
    border: 0px;
}

 .listDiv table tr > th, td {
	/* padding: 8px 30px 8px 30px; */
	border-color: #efefef;
} 

#useCheck {
	/* padding: 8px 40px 8px 40px; */
	border-color: #f6f6f6;
}

#nickName {
	padding: 8px 65px 8px 65px;
}

.listDiv, .positionInfoDiv {
	margin: 8px 0px 8px 0px;
    background-color: #ffffff;
    border: solid 1px #f6f6f6;
    /* padding: 0px 18px 0px 18px; */
    /* margin-right: -20px; */
    padding-left: 18px;
}

.listDiv {
    flex: 0.5;
}

p.positionInfoLabel {
    padding: 20px 20px 20px 2px;
}

<!-- table -->

.tg{
	border-collapse:collapse;
	border-spacing:0;
}

.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:8px 20px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}

.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:8px 20px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}

.tg .tg-s6z2{
	text-align:center
}

.tg .tg-uys7{
	border-color:inherit;
	text-align:center
}

.tg .tg-xldj{
	border-color:inherit;
	text-align:left
}

.tg .tg-s268{
	text-align:left
}

.tg tbody{
	overflow: auto;
}


<!-- table에 스크롤 붙임 -->

.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;

}

table.fixed_header {
    flex: 3;
    border-spacing:0;
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
    display: block;
    width: 573px;
    overflow: auto;
    height: 536px;

}

.fixed_header thead tr {
   display: block;
   background-color: #f9f9f9;
   border-color: #f9f9f9;
}

.fixed_header tbody tr:hover {
 	background-color: #f5f5f5;
}

}

.fixed_header thead {
  background: black;
  color:#fff;
     border-color: #f9f9f9;
  
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: center;
     border-color: #f9f9f9;
     
  
}

.fixed_header td {
	overflow: hidden;
}

<!-- table에 스크롤 붙임 end-->

.compName {
	width: 160px;
}

