/* 
.section {
	display: flex;
	flex-direction: row;
}

html, body {
    margin: 0;

    display: flex;
    flex-direction: column;
    display: flex;
}

.section {
    display: flex;
}

div.navi {
    background-color: #E7ECF2;
    height: 100%;
    width: 300px;
    min-height: 850px;
    min-width: 180px;
    display: inline-block;
    border-right: 7.588px solid #E7E7E7;
    float: left;
    display: inline;
}

.mainSection {
    flex: 1;
}

.topSearchDiv {
    padding: 20px;
    margin: 14px 20px 10px 20px;
    width: 1328px;
    background-color: #eff6fe;
}

.mainDiv {
    margin: 0px 20px 20px 20px;
    height: 600px;
    display: flex;
    background-color: white;
    border-top: solid 1px #f6f6f6;
    z-index: -1;
    position: absolute;
}

.selectBoxStyle {
    width: 135px;
    margin-left: 5px;
    margin-right: 20px;
}
 
.inputText {
    width: 120px;
    margin-right: 50px;
}

.positionInfoDiv {
    flex: 1.2;
    border-right: 0px;
    width: 682px;
}

.listDiv > table {
	margin: 8px 19px 8px 0px;
    border-collapse: collapse;
    height: 200px;
    border: 0px;
}

 .listDiv table tr > th, td {
	padding: 8px 30px 8px 30px;
	border-color: #efefef;
} 

#useCheck {
	padding: 8px 40px 8px 40px;
	border-color: #f6f6f6;
}

#nickName {
	padding: 8px 65px 8px 65px;
}

.listDiv, .positionInfoDiv {
	margin: 8px 0px 8px 0px;
    background-color: #ffffff;
    border: solid 1px #f6f6f6;
    padding: 0px 18px 0px 18px;
    margin-right: -20px;
    padding-left: 18px;
}

.listDiv {
    flex: 0.5;
}

p.positionInfoLabel {
    padding: 20px 20px 20px 2px;
}

<!-- table -->

.tg{
	border-collapse:collapse;
	border-spacing:0;
}

.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:8px 20px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}

.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:8px 20px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}

.tg .tg-s6z2{
	text-align:center
}

.tg .tg-uys7{
	border-color:inherit;
	text-align:center
}

.tg .tg-xldj{
	border-color:inherit;
	text-align:left
}

.tg .tg-s268{
	text-align:left
}

.tg tbody{
	overflow: auto;
}


<!-- table에 스크롤 붙임 -->

.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;

}

table.fixed_header {
    flex: 3;
    border-spacing:0;
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
    display: block;
    width: 573px;
    overflow: auto;
    height: 536px;

}

.fixed_header thead tr {
   display: block;
   background-color: #f9f9f9;
   border-color: #f9f9f9;
}

.fixed_header tbody tr:hover {
 	background-color: #f5f5f5;
}

}

.fixed_header thead {
  background: black;
  color:#fff;
     border-color: #f9f9f9;
  
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: center;
     border-color: #f9f9f9;
     
  
}

.fixed_header td {
	overflow: hidden;
}

<!-- table에 스크롤 붙임 end-->

.compName {
	width: 160px;
}

.dataTables_scrollBody {
    height: 460px;
}

div#contents-header {height: 18px; padding-bottom: 20px; width: 99%; margin-top: 1%; margin-left: 27px;}
div#contents-header img.home{ width: 16px; height: 16px; margin-top: 2px; margin-bottom: 2px; vertical-align: middle;}
div#contents-header img.next{ width: 6px; height: 6px; margin: 6px 3px; vertical-align: middle;}
div#contents-header span { width: 16px; line-height: 18px; vertical-align: middle; color: #7C7C7C; font-weight: bold;}
div#contents-header>span:last-child { color:#328CF5;} 

/* -------------------------------------------------------------------------  */

/* 오른쪽 위에 네비 */
div#contents-header {height: 18px; padding-bottom: 20px; width: 99%; margin-top: 1%;}
div#contents-header img.home{ width: 16px; height: 16px; margin-top: 2px; margin-bottom: 2px; vertical-align: middle;}
div#contents-header img.next{ width: 6px; height: 6px; margin: 6px 3px; vertical-align: middle;}
div#contents-header span { width: 16px; line-height: 18px; vertical-align: middle; color: #7C7C7C; font-weight: bold;}
div#contents-header>span:last-child { color:#328CF5;} 

/* 오른쪽 바디 */
.mainSection{
	height:100%
	background-color: #ffffff;
    min-height: 550px;
    /* min-width: 800px; */
    /* height: 100%; */
    width: 82%;
    padding-right: 15px;
    float: right;
}

/* 오른쪽바디 바로밑 그 검색부분  */
.topSearchDiv{
    width: 100%;
    height: 20px;
    background: #EFF6FE;
    border: 1px solid #B2B2B2;
    padding: 15px 0;
    vertical-align: middle;
    margin-bottom: 10px;
}
.topSearchDiv span{
    font-size: 13.5px;
    font-weight: bold;
    margin-left: 20px;
    height: 20px;
}

/* 사용자 목록폰트  */
.text-primary {
    font-size: inherit;
    margin-bottom: 5px;
}


/* 테이블  */
.custom-select{	
  margin-bottom: 10px;
  margin-top: 3px;
}

thead{
    background-color: #F9F9F9;
    font:1.2em "맑은 고딕", 돋움, 굴림;
}
thead > tr[role="row"] > th {
	padding-top:10px;
	padding-bottom:10px;
	/* border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	 */
    border-top : 1px solid rgba(211, 211, 211); 
    border-left : 1px solid rgba(211, 211, 211);
    border-bottom : 1px solid rgba(211, 211, 211);
}
.table-body{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
}
#DataTables_Table_0_wrapper{
    overflow-y: auto;
    max-height: 717px;	
}
#DataTables_Table_0_wrapper > div.row:first-child > div:first-child{
	float:left;
	margin-bottom :15px;
}
#DataTables_Table_0_wrapper > div.row:first-child > div:last-child{
	float:right;
	margin-bottom :15px;
}
.table-bordered {
	text-align:center;
}
tbody tr:hover{
	background-color : #e6f4fe;
}
tr > .sorting_1, td{
    padding-top: 10px;
    padding-bottom: 10px;
   /* border-bottom: 1px solid lightgray; */
    border-left : 1px solid rgba(211, 211, 211);
    border-bottom : 1px solid rgba(211, 211, 211);
    
}
tr .emp-name{
	width :140px;
}
.dataTables_info{
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
}
.dataTables_scrollBody{
	overflow: auto;
    max-height: 545px;
}


/* 페이지네이션 */
.pagination{
	float: right;
    clear: both;
    margin-top:10px;
}
.pagination li{
	float:left;
    border: 1px solid lightgray;
    font:1.2em "맑은 고딕", 돋움, 굴림;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}


