body {
	font: 14px/1.0 Arial, Helvetica, sans-serif;
}

.frame {
	width: 100%; height: 950px;
	/* margin: 0 auto; */
 	/* border: 1px solid #1f87d8; */
}
/* 헤더  */
.header {
	width:100%; height: 40px;
	background-color: #1f87d8;
}
.main-logo{
	color : #ffffff;
	font-weight: bold;
    font-size: larger;
    padding-left:10px;
    padding-top:10px; 
    float:left;    
}
.multi{
 	color : #ffffff;
	font-weight: bold;
    font-size: unset;
    padding-left:10px;
    padding-top:11px; 
    float:left; 
}
#admin-login{
	width:150px;
	color : #ffffff;
	font-weight: bold;
    font-size: unset;
	float:right; 
	padding-right:15px;
    padding-top:10px; 
    text-align: center;
}

#login-cancel{float:right; padding:5px;}
/* --  */


.header2 {
	width: 100%;
	/* height: 30px; */
	/* margin : 5px 20px 0 0; */
 	margin: 5px 0px 5px 0px;
	/* 	float: right; */
	text-align: left;
}
.body-container {
/* 	background-color: green;
 */	height: 875px;
	width: 100%;
}
.footer {
	width: 100%; height: 10px;
	background-color: white;
}
.exelbtn {
	float: right;
}
.exel-submit {
/* 	margin: 5px 0 0 0;
 */	border: 1px solid #ececec;
}
.navi {
	float: left;
	width: 20%; height: 800px;
	border: 1px solid #ececec;
 	margin: 20px 0 15px 15px;
}


/*
	검색창
*/
.select-box {
	/* position: relative;
	width: 50px;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	margin: -2px 0 0 5px;
	z-index: 1;
	focus 효과
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
}
.search-box {
	
}

.search-body {
	width: 100%;
	height: 60px;
	border: 1px solid #c6c6c6;
 	display: inline-block;
 	margin: 0px 0px 5px 0px;
 	padding-left:15px; 
 	/* float: right; */
	background: #eef4fb;
	margin
}
.input-text {
	width : 300px; height: 25px;
 	margin-top: 15px;
 	margin-bottom: 15px;
 	border: 1px solid #c6c6c6;
	line-height: 20px;
	font-weight: bold;
	font-size: 15px;
}
.sch-submit {
	width: 54px; height: 30px;
 	margin: 15px 15px 15px 0; 
 	border: 1px solid #aaa;
	vertical-align: top;
	background: #1f87e2;
	color: #ffffff;
	font-weight: bold;
	border-radius: 1px;
	cursor: pointer;
}
.pic {
	display: table;
	border: 1px solid #ececec;
	width: 20%; height: 314px;
 	margin: 10px 0px 0px 0px;
  	float: left;
  	text-align: center;
}
.photo {
	display: table-cell;	
	vertical-align: middle;
	margin: 0 auto;
	width: 15px; height: 30px;
	border: 1px solid #ececec;
}

.table-body{
	 width:100%; 
	 float:left;
	 min-height:240px;
}
.table-boot{
	padding:0px;
}
table.member {
	width: 100%;
	border: 1px solid #ececec;
	border-collapse: seprate;
	border-spacing: 1px;
	text-align: center;
	line-height: 1.5;
 	margin: 0px 0px 5px 0;
 	float: right;
}
table.member th {
	width: 100px;
	height: 20px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	background: #f9f9f9;
	border: 1px solid #ececec;
}

table.member td {
	border: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	height: 20px;
	width: 100px;
	padding: 10px;
	vertical-align: top;
}
tr.row:hover {
	background-color: #e6f4fe;
} 
table.detail {
	width: 79%; 
	border: 1px solid #d6d4d4;
	border-collapse: seprate;
	border-spacing: 1px;
	line-height: 1.5;
 	margin: 10px 0px 20px 0;
	float: right; 
	clear:both;
}
table.detail th {
	height: 20px;
	width:150px;
	padding: 10px;
	text-align: right;
	vertical-align: top;
	background: #f9f9f9;
	border: 1px solid #ececec;
	
}
table.detail td {
	border: 1px solid #ececec;
	padding: 10px;
	vertical-align: top;
	width: 250px;
}

.title {
	font-weight: bold;
}
.page-position{
	float:right;
}
.pagination-group{
    float: right;
    text-align: right;
}
.pagination{
	float:right;
    margin-bottom: 5px;	
}
.pagination-info{
	clear:both;
}
.page-point{
	display:none;
    text-align: right;
}
.page-view{
    font-size: small;
    padding: 5px;
    border: 0.5px #CDCDCD solid;
}
li.disabled{
   /*
   pointer-events:none; 
   opacity:0.6; 
   */
   display:none;
}
li.active{
    font-style: italic;
    font-weight: 900;
}

/* .pagePre{
	float:left;	
}
.pageNext{
	float:right;	
}
 */


/* navi */
*            { margin:0; padding:0 }
body         { font:0.75em "맑은 고딕", 돋움, 굴림; color:#111; min-width: 1000px;}
ul, ol, li         { list-style-type: none }
fieldset      { border:none }

a:link          { color:#ffffff; text-decoration:none; font-weight:bold; }

a:visited       { color:#696969F; text-decoration:none; font-weight:bold; }
a:active       { color:#696969; text-decoration:none; font-weight:bold; }
a:hover       { color:#f0f0f0; text-decoration:none; font-weight:bold; } 

.tree {
	float: left;
	width: 25%; height: 800px;
	border: 1px solid #ececec;
 	margin: 15px 0 15px 15px;
}


div.content{ width: 100%; height: 100%;}

div.tree { height: 82.7%; overflow-y:auto;
		width: 18%; min-height: 500px; min-width: 180px; display: inline-block; padding: 0.5%; float: left;
		
}
div.tree li {font: 2em; display: block; height: 20px; position: relative;}
div.tree li.comp { padding-top: 4px;}
div.tree li.dept { font: 1.5em; }
div.tree li.biz { font: 1.5em; }
div.tree span {cursor: pointer; height: 100%; font-size: 13px; padding-left: 4px;}
div.tree img.navi-icon {height: 16px; width: 16px; vertical-align: middle; float: left;}
div.tree img.tree-icon {height: 20px; width: 20px; vertical-align: top; display: inline-block; float: left;}
div.tree img.open-btn {height: 9px; width: 5px; position: relative; left: -12px; top: -4px; cursor: pointer;}
div.tree img.close-btn {height: 6px; width: 6px; position: relative; left: -13px; top: -4px; cursor: pointer;}
div.tree img.open {display: none;}
div.result-wrapper { background-color: #ffffff; min-height: 500px; min-width: 800px; height:100%; width: 78%; padding: 0.5%; float: right;}

div.tree div.li-div {padding: 2px 0;  display: inline-block;}
div.space { width: 20px; height: 20px; display: inline-block; float: left;}
div.wrap {height: 20px; display: inline-block; float: left}
.active-span{
	background-color: #BEEBFF;
}
/*  */
.main-body{
	height:80%;
	width: 79%;
    float: left;
    margin-left:15px;
}