
.section {
	display: flex;
	flex-direction: row;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* display: flex; */
}

.section {
    display: flex;
}

div.navi {
    background-color: #E7ECF2;
    height: 100%;
    width: 300px;
    min-height: 850px;
    /* min-width: 180px; */
    /* display: inline-block; */
    border-right: 7.588px solid #E7E7E7;
    float: left;
    /* display: inline; */
}

.mainSection {
    flex: 1;
}

.topSearchDiv {
    padding: 20px;
    margin: 20px;
    margin-top: 50px;
}

.mainDiv {
    padding: 20px;
    margin: 20px;
    margin-top: 60px;
    height: 600px;
    display: flex;
}

.selectBoxStyle {
    width: 135px;
    margin-left: 5px;
    margin-right: 20px;
}
 
.inputText {
    width: 120px;
    margin-right: 50px;
}

.positionInfoDiv {
    flex: 1.2;
}

.listDiv > table {
	margin: 60px;
}

.listDiv table tr th {
	padding:1px 2px 3px 4px;
}

.listDiv {
    flex: 1.5;
}

p.positionInfoLabel {
    padding: 20px;
}


<!-- list Table -->


<!-- position info table -->
 
table.tg {
    height: 400px;
} 

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	height: 300px;
	width: 535px;
}

.positionInfoForm {
	width: 300px;
    padding-left: 3%;
}

.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:1px 6px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}

.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:1px 6px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}

.tg .tg-baqh{
	text-align:center;
	vertical-align:top
}

.tg .tg-lqy6{
	text-align:right;
	vertical-align:top
}

.tg .tg-dvpl{
	border-color:inherit;
	text-align:right;
	vertical-align:top
}

.tg .tg-0lax{
	text-align:left;
	vertical-align:top
}

