
.section {
	display: flex;
	flex-direction: row;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* display: flex; */
}

.section {
    display: flex;
}

div.navi {
    background-color: #E7ECF2;
    height: 100%;
    width: 300px;
    min-height: 850px;
    /* min-width: 180px; */
    /* display: inline-block; */
    border-right: 7.588px solid #E7E7E7;
    float: left;
    /* display: inline; */
}

.mainSection {
    flex: 1;
}

.topSearchDiv {
    padding: 20px;
    margin: 20px;
    margin-top: 50px;
}

.mainDiv {
    padding: 20px;
    margin: 20px;
    margin-top: 60px;
    height: 600px;
    display: flex;
}

.selectBoxStyle {
    width: 135px;
    margin-left: 5px;
    margin-right: 20px;
}
 
.inputText {
    width: 120px;
    margin-right: 50px;
}

.positionInfoDiv {
    flex: 1.2;
}

.listDiv > table {
	margin: 35px 55px 0px 74px;
	border-collapse: collapse;
	height:200px;
  	border: 0px;
}

 .listDiv table tr > th, td {
	/* padding: 8px 30px 8px 30px; */
	border-color: #efefef;
} 

#useCheck {
	/* padding: 8px 40px 8px 40px; */
	border-color: black;
}

#nickName {
	padding: 8px 65px 8px 65px;
}

.listDiv {
    flex: 1.5;
    background-color: #ffffff;
}

p.positionInfoLabel {
    padding: 20px;
}


<!-- list Table -->


<!-- position info table -->
 
table.tg {
    height: 400px;
} 

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	height: 300px;
	width: 535px;
}

.positionInfoForm {
	width: 300px;
    padding-left: 3%;
}

.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:1px 6px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}

.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:1px 6px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}

.tg .tg-baqh{
	text-align:center;
	vertical-align:center;
}

.tg .tg-lqy6{
	text-align:right;
	vertical-align:center;
}

.tg .tg-dvpl{
	border-color:inherit;
	text-align:right;
	vertical-align:center;
}

.tg .tg-0lax{
	text-align:left;
	vertical-align:center
}

.tg .tg-0lax2 > input{
	text-align:left;
	vertical-align:center;
	width: 250px;
}

<!-- tbody에 스크롤 붙임 -->

 .fixed-table-container { /*테이블 고정 container width와 height는 공용으로 사용하기 위해 html단에서 지정 */ 
        /*width: 800px;height: 200px;*/
        position: relative;
    }
    .fixed-table-header-bg { /*헤더(타이틀 영역)*/
    		/* border-top:1px solid #3b3f2c; 
    		border-bottom:1px solid #3b3f2c;
    		text-align:center;
    		color:#666; 
    		background:#ecf5fc; 
    		font-weight:bold; */
        /* height: 30px; */ /* header-bg height값 */
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        /*border-bottom: 1px solid #000;*/
    }
    .fixed-table-wrapper {
     /*    overflow-x: hidden; */
        overflow-y: auto;
        height: 200px;
        display:block;
        
    }
    table.fixed-table {
      /*   width: 100%;
        border-collapse: collapse; */
    }
    table.fixed-table td {
        border-bottom: 1px solid #DDD;
				height:30px; padding:3px 10px 2px;
        text-align:center;
        color:#666;
    }
    table.fixed-table td + td {
        border-left: 1px solid #DDD;
    }
    table.fixed-table th {
        padding: 0px; /* reset */
        
    }
    table.fixed-table .th-text {
      /*   position: absolute;
        top: 0;
        width: inherit;
        line-height: 30px; header-bg height값
        border-left:1px solid; border-color:#3b3f2c #c4c4c4; */
    }
    table.fixed-table th:first-child .th-text {
        /* border-left: none; */
    }
    table.fixed-table tbody tr:last-child td{border-bottom:1px solid #3b3f2c;} 
    table.fixed-table tbody tr:nth-child(even) {background: #f6f6f6;}

	/* thead, tbody { display: block;} */


<!-- table에 스크롤 붙임 -->

.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;

}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 486px;

}

.fixed_header thead tr {
   display: block;
   background-color: #f9f9f9;
   border-color: #f9f9f9;
}

.fixed_header tbody tr:hover {
 	background-color: #f5f5f5;
}

}

.fixed_header thead {
  background: black;
  color:#fff;
     border-color: #f9f9f9;
  
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: center;
     border-color: #f9f9f9;
  
}

.positionCode {
	width: 100px;
}

.positionCodeName {
	width: 160px;
}

.compName {
	width: 160px;
}

.useYn {
	width: 91px;
	border-right-color: #f9f9f9;
}
