<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 
  <display-name>quicksilver</display-name>
 
    <!-- 공통에러페이지 -->
    <error-page>
    	<error-code>404</error-code>
    	<location>/WEB-INF/views/error/404.jsp</location>
    </error-page>
    <error-page>
    	<error-code>500</error-code>
    	<location>/WEB-INF/views/error/500.jsp</location>
    </error-page>
    
    <!-- Spring Security Filter -->
<!-- 

    <filter>
    	<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
  
    <filter-mapping>
          <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
     
    <context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>
    		/WEB-INF/spring/context-root.xml
    		/WEB-INF/spring/context-security.xml
    	</param-value>
    </context-param>
-->
</web-app>